In [1]:
import pandas as pd
from pathlib import Path
from prefect_sqlalchemy import DatabaseCredentials

In [2]:
database_block = DatabaseCredentials.load("postgre")

In [11]:
database_block.get_engine()

AttributeError: 'coroutine' object has no attribute 'get_engine'

In [1]:
color = "green"
year = 2020
month = 1

In [2]:
dataset_file = f"{color}_tripdata_{year}-{month:02}"
dataset_url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{color}/{dataset_file}.csv.gz"

In [5]:
dataset_url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-01.csv.gz'

In [6]:
pd.read_csv(dataset_url)

C:\Users\cross\AppData\Local\Temp\ipykernel_26496\3236508184.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(dataset_url)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-12-18 15:52:30,2019-12-18 15:54:39,N,1.0,264,264,5.0,0.00,3.50,0.50,0.5,0.01,0.0,NaN,0.3,4.81,1.0,1.0,0.00
1,2.0,2020-01-01 00:45:58,2020-01-01 00:56:39,N,5.0,66,65,2.0,1.28,20.00,0.00,0.0,4.06,0.0,NaN,0.3,24.36,1.0,2.0,0.00
2,2.0,2020-01-01 00:41:38,2020-01-01 00:52:49,N,1.0,181,228,1.0,2.47,10.50,0.50,0.5,3.54,0.0,NaN,0.3,15.34,1.0,1.0,0.00
3,1.0,2020-01-01 00:52:46,2020-01-01 01:14:21,N,1.0,129,263,2.0,6.30,21.00,3.25,0.5,0.00,0.0,NaN,0.3,25.05,2.0,1.0,2.75
4,1.0,2020-01-01 00:19:57,2020-01-01 00:30:56,N,1.0,210,150,1.0,2.30,10.00,0.50,0.5,0.00,0.0,NaN,0.3,11.30,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447765,NaN,2020-01-31 23:29:00,2020-01-31 23:47:00,NaN,NaN,167,32,NaN,4.58,23.21,2.75,0.0,0.00,0.0,NaN,0.3,26.26,NaN,NaN,NaN
447766,NaN,2020-01-31 23:57:00,2020-02-01 00:23:00,NaN,NaN,81,69,NaN,6.55,27.27,2.75,0.0,0.00,0.0,NaN,0.3,30.32,NaN,NaN,NaN
447767,NaN,2020-01-31 23:57:00,2020-02-01 00:10:00,NaN,NaN,244,241,NaN,3.34,25.95,2.75,0.0,0.00,0.0,NaN,0.3,29.00,NaN,NaN,NaN
447768,NaN,2020-01-31 23:27:00,2020-02-01 00:04:00,NaN,NaN,68,17,NaN,8.92,30.39,2.75,0.0,0.00,0.0,NaN,0.3,33.44,NaN,NaN,NaN
447769,NaN,2020-01-31 23:36:00,2020-02-01 00:01:00,NaN,NaN,22,124,NaN,13.51,42.20,2.75,0.0,0.00,0.0,NaN,0.3,45.25,NaN,NaN,NaN

In [8]:
path = Path(f"data/{color}/{dataset_file}.parquet")

In [10]:
BASE_DIR = Path(__file__).resolve().parent.parent
TEMPLATES_DIR = BASE_DIR.joinpath('templates')

NameError: name '__file__' is not defined

In [14]:
import pathlib

p = pathlib.Path(__file__)
print(p)

NameError: name '__file__' is not defined

In [15]:
import os
os.path.abspath('')

'd:\\Dev\\datatalk\\week_2'

: